<div class="footer">

<img class="logo" src="<%= image_path('PROTEGE-TOIT.png') %>"/>


<div class="list-liens">
  <h5>L'origine du projet</h5>
  <%= link_to "Investigation beta.gouv", "https://beta.gouv.fr/startups/protege-toit.html", class: "nav-link" %>
  <%= link_to "Startups d'Etat", "https://beta.gouv.fr/apropos/", class: "nav-link" %>
  <%#= link_to "Accueil", root_path, class: "nav-link" %>
</div>

<div class="list-liens">
  <h5>Contribuer au projet</h5>
  <%= link_to "Code open source sur Github", "https://github.com/JenniferStephan/protege-toit-2", class: "nav-link" %>
  <%= link_to "Ajouter des suggestions", "https://github.com/JenniferStephan/protege-toit-2/issues", class: "nav-link" %>
  <%= link_to "Nous contacter", "mailto:jennifer.stephan@beta.gouv.fr", class: "nav-link" %>
</div>

<div class="list-liens">
  <h5></h5>
  <%#= link_to "Accueil", root_path, class: "nav-link" %>
  <%#= link_to "Accueil", root_path, class: "nav-link" %>
  <%#= link_to "Accueil", root_path, class: "nav-link" %>
</div>

</div>

