<div class="footer">

<img class="logo" src="<%= image_path('PROTEGE-TOIT.png') %>"/>


<div class="list-liens">
  <h5>A propos</h5>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
</div>

<div class="list-liens">
  <h5>A propos</h5>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
</div>

<div class="list-liens">
  <h5>A propos</h5>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
  <%= link_to "Accueil", root_path, class: "nav-link" %>
</div>

</div>

