<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img class="logo" src="<%= image_path('PROTEGE-TOIT.png') %>"/>
  <% end %>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%#= link_to "Accueil", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Liste des hébergements", hebs_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Proposer un hébergement", new_heb_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Kit partenaire", "https://jenniferstephanme.gitbook.io/protege-toit/", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
