<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <img class="logo" src="<%= image_path('PROTEGE-TOIT.png') %>"/>
  <% end %>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Accueil", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Carte", hebergements_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Ajouter un heb", new_hebergement_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Mon espace", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
